<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="static/img/favicon.png">
  <title>Díptico | Dúo Acústico</title>
  <link rel="icon" type="image/x-icon" href="static/img/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <meta name="keywords" content="Dúo Díptico, dúo musical, música en vivo, pop rock acústico, voz y guitarra, bodas, eventos privados, conciertos íntimos, Sevilla, España, acoustic duo, live music, acoustic pop rock, wedding music, private events, intimate concerts, Seville, Spain">
  {% seo %}
</head>
<body>
  {{ content }}
</body>
</html>